In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
from sklearn.datasets import load_boston 
from string import ascii_letters
%matplotlib inline

In [2]:
from pandas.tools import plotting

In [3]:
df = load_boston()

In [4]:
dataset = load_boston()

In [6]:
df.describe

AttributeError: describe

In [21]:
df[['CHAS']].count()

CHAS    506
dtype: int64

In [22]:
df.groupby('CHAS').nunique()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
CHAS,,,,,,,,,,,,,,
0.0,470,26,75,1,81,417,338,382,9,65,45,335,431,221
1.0,35,4,9,1,13,35,34,34,6,9,8,29,35,28

In [23]:
df.groupby('CHAS').mean()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
CHAS,,,,,,,,,,,,,
0.0,3.723215,11.634820,11.019193,0.551817,6.267174,67.911677,3.851915,9.566879,409.870488,18.527176,355.461040,12.757941,22.093843
1.0,1.851670,7.714286,12.719143,0.593426,6.519600,77.500000,3.029709,9.314286,386.257143,17.491429,372.997429,11.241714,28.440000

In [24]:
df['CHAS'].value_counts()

0.0    471
1.0     35
Name: CHAS, dtype: int64